.loader {
  animation: rotate 2s infinite;
  height: 150px;
  width: 150px;
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 67px);
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 60px;
  width: 60px;
}
.loader:before {
  animation: ball1 2s infinite;
  background-color: $color-primary;
  box-shadow: 90px 0 0 $color-active;
  margin-bottom: 30px;
}
.loader:after {
  animation: ball2 2s infinite;
  background-color: $color-bck-dark;
  box-shadow: 90px 0 0 #97bf0d;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 90px 0 0 $color-active;
  }
  50% {
    box-shadow: 0 0 0 $color-active;
    margin-bottom: 0;
    -webkit-transform: translate(45px, 45px);
    -moz-transform: translate(45px, 45px);
  }
  100% {
    box-shadow: 90px 0 0 $color-active;
    margin-bottom: 30px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 90px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -60px;
    -webkit-transform: translate(45px, 45px);
    -moz-transform: translate(45px, 45px);
  }
  100% {
    box-shadow: 90px 0 0 #97bf0d;
    margin-top: 0;
  }
}
