/*=================================================================*/
/*                      SECTIONS                             
/*=================================================================*/

section {
  padding-top: 110px;
  position: relative;

  &.about {
    padding: 0;
    height: 100vh;
    min-height: 100vh;
  }
}

#home {
  background: url(/images/Dune.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 100vh;
  min-height: 100vh;

  .intro {
    margin: auto;
    max-width: 540px;
    text-align: center;
    position: relative;
    z-index: 1;

    h1 {
      color: $color-white;
      font-size: $font-size-huge;
    }

    span {
      color: $color-white;
      font-size: $font-size-larger;
    }
  }

  .social-icons {
    li {
      a {
        color: $color-white;
      }
    }
  }
}

#about {
  background: $color-bck-dark;
  min-height: 100vh;

  .text-center {
    color: $color-primary;
  }

  .alignement {
    display: flex;
    justify-content: space-around;
  }

  .color-white {
    color: $color-white;
  }

  .fact-item {
    margin: 0 0.5rem 2rem 0.5rem;
  }
}

#education,
#experience {
  h2 {
    color: $color-dark;
  }

  h3 {
    color: $color-active;
  }
  margin-bottom: 3rem;
}

#services {
  h2 {
    color: $color-dark;
  }
}

#recommendations {
  background: $color-light;
  min-height: 100vh;
}

#contact {
  min-height: calc(100vh - 217px);
  h2 {
    color: $color-primary;
  }
  h3 {
    color: $color-active;
  }
}

.icons {
  max-height: 50px;
}

.item p {
  padding: 0.5rem 0 1.5rem 0;
}

.section-title {
  font-size: $font-size-largest;
  margin: 0;
  position: relative;
}
